<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
<div class="limiter">
    <div class="container">
        <form th:action="@{/users/register}" action="#" th:object="${user}" method="post">
            <h1>Cadastro</h1>
            <p>
                <input th:field="*{username}" id="username" name="username" placeholder="Nome de usuário" type="text" required>
            </p>
            <p>
                <input th:field="*{phone}" id="phone" name="phone" placeholder="Telefone" type="text" />
            </p>
            <p>
                <input th:field="*{bairro}" id="bairro" name="bairro" placeholder="Bairro" type="text" required>
            </p>
            <p>
                <input th:field="*{bio}" id="bio" name="bio" placeholder="Bio" type="text">
            </p>
            <p>
                <input th:field="*{password}" id="password" name="password" placeholder="Senha" type="password" required>
            </p>
            <p>
                <input type="submit" value="Enviar"></input>
            </p>
            <p>
                <a class="login" href="/login">Já tem uma conta?</a>
            </p>
        </form>
    </div>
    <div th:if="${error}">
        <span>"Erro ao cadastrar usuario."</span>
    </div>
</div>

</body>
</html>