<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<link rel="stylesheet" href="../style/navBar.css">
		<meta charset="utf-8" />
		<title>Perfil de usuário</title>
	</head>
	<body>

		<div class="topnav">
  			<a class="active" href="/home">Home</a>
			<a href="/users">Users</a>
			<a href="/posts">Posts</a>
			<a href="/posts/form">Cadastrar post</a>
		</div>
		
		<div layout:fragment="content">
			<h1>Perfil de Usuário</h1>
			<hr />
			<div class="form-group"> 
				<label for="username">Usuário: </label>  
				<span th:text="${user.username}"></span> 
			</div>
			<div class="form-group"> 
				<label for="phone">Telefone: </label>  
				<span th:text="${user.phone}"></span> 
			</div>
			<div class="form-group"> 
				<label for="bairro">Bairro: </label>  
				<span th:text="${user.bairro}"></span> 
			</div> 
			<div class="form-group"> 
				<label for="bio">Bio: </label>  
				<span th:text="${user.bio}"></span> 
			</div>
			
		</div>
	</body>
</html>